/*** layout base ***/
a, a:hover {
    text-decoration: none;
    color: #1abc9c;
}

p {
    font-size: 20px;
}

h2 {
    font-size: 36px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

.mb-sm-30 {
    margin-bottom: 30px;
}

section {
    padding: 100px 0;
}

textarea.my-form-control {
    resize: none;
}

.my-form-control {
    border: 0;
    border-bottom: 1px solid #e9ecef;
    border-radius: 0;
    font-size: 24px;
    line-height: 1.5;
    box-shadow: none;
    padding: 40px 0;
}

.my-form-control:focus {
    box-shadow: none;
    border-color: #e9ecef;
}

.my-green-section {
    background-color: #1abc9c;
    color: white;
}

.my-separator {
    max-width: 280px;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
    margin-bottom: 24px;
}

.my-separator::before,
.my-separator::after {
    content: '';
    display: inline-block;
    width: 40%;
    height: 4px;
    position: absolute;
    top: 12px;
    border-radius: 2px;
}

.my-separator::before {
    left: 0;
}

.my-separator::after {
    right: 0;
}

.my-separator-white {
    color: white;
}

.my-separator-white::before,
.my-separator-white::after {
    background-color: white;
}

.my-separator-dark {
    color: #2c3e50;
}

.my-separator-dark::before,
.my-separator-dark::after {
    background-color: #2c3e50;
}

.my-btn-primary {
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.my-btn-default {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.title-dark {
    color: #2c3e50;
}
/*** fine layout base ***/

/*** header ***/
header {
    background-color: #2C3E50;
    height: 72px;
}

#logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
    line-height: 72px;
}

#my-main-menu ul {
    margin-bottom: 0;
}

#my-main-menu a,
#my-mobile-menu-button a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    line-height: 72px;
    padding: 16px;
}

#my-mobile-menu-button a {
    display: inline;
}

#my-main-menu a:hover {
    color: #1abc9c;
}
/*** fine header ***/

/*** jumbotron ***/
#my-jumbo {
    padding: 172px 0 100px;
}

#my-jumbo img {
    max-width: 250px;
}

#my-jumbo h1 {
    font-weight: bold;
    font-size: 40px;
}

#my-jumbo p {
    font-size: 26px;
}
/*** fine jumbotron ***/

/*** portfolio ***/
.my-portfolio-wrapper {
    margin-bottom: 30px;
    position: relative;
}

.my-portfolio-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 6px;
}

.my-portfolio-wrapper::after {
    content: "\f067";
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    font-size: 72px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.my-portfolio-wrapper:hover::before {
    background-color: rgba(26,188,156,.9);
}

.my-portfolio-wrapper:hover::after {
    display: block;
}
/*** fine portfolio ***/

#my-about-cta {
    margin-top: 30px;
}

/*** footer ***/
#footer-top {
    background-color: #2C3E50;
    color: white;
    padding: 100px 0;
}

.my-social-icons i {
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0 5px;
}

#footer-bottom {
    background-color: #1a252f;
    color: white;
    padding: 24px 0;
}
/*** media queries mobile first ***/
@media screen and (min-width: 768px) {
    h2 {
        font-size: 48px;
    }

    #my-jumbo h1 {
        font-size: 64px;
    }
}

@media screen and (min-width: 992px) {
    .mb-sm-30 {
        margin-bottom: 0;
    }
}
